{% load static %}
<!-- Footer -->
<section class="footer-container">
    <div class="container">
        <div class="row footer-containertent">
            <div class="col-md-4">
                <img class="logo" id="logo" src="{% static 'images/logo.png' %}" alt="logo" height="150px" width="270px">
            </div>
            <div class="col-md-4">
                <h4>News & Updates</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
            </div>
            <div class="col-md-4 contac-us">
                <h4>Contact Us</h4>
                <p>Lorem ipsum dolor sit amet adipisicing elit.</p>
                <ul>
                        <li><i class="fa fa-home"></i>Tel Aviv, Israel</li>
                        <li><i class="fa fa-phone"></i>054-0000-536</li>
                        <li><i class="fa fa-envelope-o"></i>maryann.deutel@gmail.com</li>
                    </ul> 
            </div>
        </div>
    </div>
</section>

<footer>
<div class="container">
        <div class="row">
            <div class="footer-containertent">

                <ul class="footer-social-info">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
                <br/><br/>
<p>Copyright &copy;
    <span class="year"></span> Mary's Full Stack Kitchen</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->